.menu-item {
    background-color: #EF9651;
    align-items: center;
    width: 40%;

    padding: 10px;
    margin-bottom: 20px;
}

.menu-item-name {
    color: white;
    /* font-weight: bold; */
    text-align: center;
}