:root {
  background-color: #EFEFEF;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #3F7D58;
}

.menu-div {
  display:flex;
  flex-wrap: wrap;
  gap: 10%;
}

.butt-down {
  position: fixed;
  bottom: 20px; /* Distance from bottom */
  right: 20px; /* Distance from right */
  width: 75px;
}

.butt-up {
  position: fixed;
  top: 20px; /* Distance from bottom */
  left: 20px; /* Distance from right */
  width: 50px;
}

.cart-items {
  background-color: #EF9651;

    width: 95%;
    border-radius: 7px;

    padding: 10px;
    margin-bottom: 20px;

    font-size: large;
  
  color: white;
}

li {
  list-style-type: none;
}

.butt-order {
  display: inline-block;
  background-color: #3F7D58;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.cart-main {
  text-align: center;
  
}