:root {
  background-color: #EFEFEF;
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #3F7D58;
}

.menu-div {
  display:flex;
  flex-wrap: wrap;
  gap: 5%;
}

.butt-down {
  position: fixed;
  bottom: 20px; /* Distance from bottom */
  right: 20px; /* Distance from right */
  width: 75px;
}

.butt-up {
  position: fixed;
  top: 20px; /* Distance from bottom */
  left: 20px; /* Distance from right */
  width: 50px;
}

.cart-items {
  background-color: #EF9651;

    width: 95%;
    border-radius: 7px;

    padding: 10px;
    margin-bottom: 20px;

    font-size: large;
  
  color: white;
}

li {
  list-style-type: none;
}

.butt-order {
  display: inline-block;
  background-color: #3F7D58;
  color: white;
  /* font-weight: bold; */
  border: none;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: large;
}

.cart-main {
  text-align: center;
  
}

.items-list {
  background-color: white;
  color: #3F7D58;
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.status-created {
  border-radius: 7px;
  border-color:white;
  border-style: solid;
  color: white;
  /* width: 95%; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;

  background-color: #EF9651;
}

.status-cooking {
  border-radius: 7px;
  border-color:#EF9651;
  border-style: solid;
  color:#EF9651;
  /* width: 100%; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: large;

  background-color: white;
}

.status-done {
  border-radius: 7px;
  border-color:white;
  border-style: solid;
  color: white;
  /* width: 100%; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: large;

  background-color:#3F7D58;
}

.status-cancelled {
  border-radius: 7px;
  border-color:white;
  border-style: solid;
  color: white;
  /* width: 100%; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: large;

  background-color: #EC5228;
}

.butt-new {
  border-radius: 7px;
  border-color:#3F7D58;
  border-style: solid;
  color:#3F7D58;
  /* width: 100%; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: white;
}